<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.6.1">
  <compounddef id="d3/d8d/structCP_1_1inputScaleMapper" kind="struct" prot="public">
    <compoundname>CP::inputScaleMapper</compoundname>
      <sectiondef kind="public-func">
      <memberdef kind="function" id="d3/d8d/structCP_1_1inputScaleMapper_1a9a81b936062a3ce7018c4ccf4a1e9da7" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>bool</type>
        <definition>bool CP::inputScaleMapper::getValue</definition>
        <argsstring>(const std::string &amp;nameToMapFrom, PFO_JetMETConfig_inputScale &amp;inputScaleToMapTo)</argsstring>
        <name>getValue</name>
        <param>
          <type>const std::string &amp;</type>
          <declname>nameToMapFrom</declname>
        </param>
        <param>
          <type>PFO_JetMETConfig_inputScale &amp;</type>
          <declname>inputScaleToMapTo</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/cvmfs/atlas.cern.ch/repo/sw/ASG/AnalysisBase/2.4.28/PFlowUtils/PFlowUtils/PFODefs.h" line="10" bodyfile="/cvmfs/atlas.cern.ch/repo/sw/ASG/AnalysisBase/2.4.28/PFlowUtils/PFlowUtils/PFODefs.h" bodystart="10" bodyend="20"/>
      </memberdef>
      </sectiondef>
    <briefdescription>
    </briefdescription>
    <detaileddescription>
    </detaileddescription>
    <location file="/cvmfs/atlas.cern.ch/repo/sw/ASG/AnalysisBase/2.4.28/PFlowUtils/PFlowUtils/PFODefs.h" line="9" bodyfile="/cvmfs/atlas.cern.ch/repo/sw/ASG/AnalysisBase/2.4.28/PFlowUtils/PFlowUtils/PFODefs.h" bodystart="9" bodyend="22"/>
    <listofallmembers>
      <member refid="d3/d8d/structCP_1_1inputScaleMapper_1a9a81b936062a3ce7018c4ccf4a1e9da7" prot="public" virt="non-virtual"><scope>CP::inputScaleMapper</scope><name>getValue</name></member>
    </listofallmembers>
  </compounddef>
</doxygen>
